<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(209, 41, 41)">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Site Fehrmann Manplex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/produto">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre" >Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="contato" >Contato</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="feature">Features</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
